@media (max-width: 999px) {
  .mobile-col {
    @apply grid-cols-1;
  }
  .hide-sidebar,
  .hide-header {
    display: none;
  }
  .hide-sidebar:grid-cols-1 {
    grid-template-columns: 1fr !important;
  }
  .hide-sidebar:px-5 {
    padding-left: 1.25rem; /* Matches px-5 */
    padding-right: 1.25rem;
  }
  .hide-sidebar:mt-24 {
    margin-top: 6rem; /* Matches mt-24 */
  }

  .page-title {
    display: none;
  }
}
@media (max-width: 999.1px) {
  .show-header {
    display: block;
  }
}

@media (min-width: 999px) {
  .show-header {
    display: none;
  }
}
