@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* remove default auto-fill input background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #121212; 
  transition: background-color 5000s ease-in-out 0s; 
}

input:-webkit-autofill {
  background-color: transparent;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
}

/* remove the number input default up and down arrows  */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
}

.auth-layout {
  background-image: url('/auth-background-pattern.svg');
  background-size: cover;
  background-position: center;
}

.modal {
  padding-bottom: env(safe-area-inset-bottom, 16px);
}

.prevent-zoom {
  touch-action: manipulation; 
}
