@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: var(--font-inter);
  --font-secondary: var(--font-lato);
}

/* Firefox */
/* For Firefox 64+ */
* {
  scrollbar-color: #0f172b rgba(0, 0, 0, 0.05);
  scrollbar-width: thin;
}

/* For Firefox 63 and below */
* {
  scrollbar-color: #0f172b rgba(0, 0, 0, 0.05);
}

/* Microsoft Edge and IE */
* {
  -ms-overflow-style: none; /* Hide the scrollbar in IE and Edge */
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
  background-color: #0f172b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #121212;
  -webkit-text-fill-color: #121212;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  background-color: transparent;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
}

/* remove the number input default up and down arrows  */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button
  input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'],
input[type='number'] {
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
}

/* prevent otp-input from auto-focusing on submit */
.otp-input {
  user-select: none;
}

body {
  font-family: var(--font-primary), sans-serif;
}

.secondary-font {
  font-family: var(--font-secondary), sans-serif;
}

.auth-layout {
  background-image: url('/auth-background-pattern.svg');
  background-size: cover;
  background-position: center;
}
@layer components {
  .primary-btn {
    @apply bg-gradient-to-b font-medium from-[#56606B] to-[#292D32] text-white px-[12px] md:px-4 py-[6px] md:py-2 rounded-[10px];
  }
}
.modal {
  padding-bottom: env(safe-area-inset-bottom, 16px);
}

.prevent-zoom {
  touch-action: manipulation;
  touch-action: manipulation;
}

.ui-avatar svg {
  border-radius: 100%;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* primary button hover */

.primary-button {
  position: relative;
}
.primary-button::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  background-color: #56606b;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: inherit;
  transition: transform 0.3s ease-out 0s;
}

.primary-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.rs-picker-menu {
  z-index: 20000 !important;
}
.rs-picker-default .rs-picker-toggle {
  border: 1px solid rgba(15, 23, 43, 0.3) !important;
  border-radius: 10px;
  height: 56px;
  width: 100%;
}

.react-calendar {
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
}
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__navigation {
  display: flex;
}
.react-calendar__navigation__prev-button {
  font-weight: bold;
}
.react-calendar__navigation__next-button {
  font-weight: bold;
}
.react-calendar__month-view {
  padding-bottom: 20px;
}
.react-calendar__month-view__weekdays {
  padding: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #828282;
}
abbr[title] {
  text-decoration: unset !important;
}
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__label {
  font-weight: bold;
}
.react-calendar__navigation button {
  color: #333333;
  min-width: 44px;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__tile {
  padding: 5px;
  margin-bottom: 5px;
  color: #000;
}

.react-calendar__tile--now {
  background: #f5f5f5;
  border-radius: 6px;
  font-weight: bold;
  color: gray;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 6px;
  font-weight: bold;
  color: #0e6301;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #0e6301;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #0e6301;
  color: rgb(198, 176, 176);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--rangeStart {
  border-radius: 6px;
  background: #0e6301;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-radius: 6px;
  background: #0e6301;
  color: white;
}

.react-calendar__tile.disabled-date {
  color: #d3d3d3; /* Gray out the text */
  pointer-events: none; /* Disable clicking */
}
